.footer{
    background: #383839 !important;
    background-color: #383839 !important;
    .telephone {
      color: white;
      font-size: 30px;
    }
    .phone {
        color: #fff;
    }
    h5, h6 {
        margin-bottom: 0;
    }
    th {
        padding-bottom: 0px;
    }
}
  
  .footer .columns {
    padding-bottom: 0;
  }
  
  .footer p, h5, h6 {
    color: #fff;
    margin-bottom: 0;
  }
  
  .footer .wrapper-inner {
    padding: 5px;
    /*controls the height of the header*/
  }
  
  .footer .container {
    background: #383839
  }


