.header {
    background: #383839 !important;
    img {
        padding-top: 5px;
    }
  }
  .border-bottom {
    width: 100%;
    border-top: 2px solid #fff;
    margin-top: 10px;
}

.header-image {
    padding: 5px;
}
  .header .columns {
    padding-bottom: 0;
  }
  
  .header p {
    color: #fff;
    margin-bottom: 0;
  }
  
  .header {
    padding: 10px;
    /*controls the height of the header*/
  }
  
  .header .container {
    background: #383839
  }
  
  .wrapper.secondary {
    background: #f3f3f3;
  }