<container class="footer" bgcolor="#383839">
    <row class="collapsed">
        <columns>
            <spacer size="16"></spacer>
            <center data-parsed="">
                <img alt="" style="width: 30px;" src="{{imgPath}}5512.png" />
            </center>
            <h5 class="text-center phone">1-800-444-6473</h5>
            <h6 class="text-center phone">Give us a call today. We can help.</h6>
            <center class="social-media" bgcolor="#383839">
                <menu>
                    <item>
                        <a target="_blank" href="https://www.youtube.com/user/IpdVolvo" class="social"><img alt="" src="{{imgPath}}5500.png" /></a>
                    </item>
                    <item>
                        <a target="_blank" href="https://twitter.com/ipdVolvo" class="social"><img alt="" src="{{imgPath}}5499.png" /></a>
                    </item>
                    <item>
                        <a target="_blank" href="https://www.pinterest.com/ipdusa/" class="social"><img alt="" src="{{imgPath}}5501.png" /></a>
                    </item>
                    <item>
                        <a target="_blank" href="https://www.facebook.com/ipdusa" class="social"><img alt="" src="{{imgPath}}5497.png" /></a>
                    </item>
                    <item>
                        <a target="_blank" href="href=https://instagram.com/ipdvolvo/" class="social"><img alt="" src="{{imgPath}}5498.png" /></a>
                    </item>
                </menu>
            </center>
        </columns>
    </row>
</container>
