<center class="social-media" bgcolor="#383839">
    <menu>
        <item>
            <a target="_blank" href="https://www.youtube.com/user/IpdVolvo" class="social"><img alt="" src="{{imgPath}}5500.png" /></a>
        </item>
        <item>
            <a target="_blank" href="https://twitter.com/ipdVolvo" class="social"><img alt="" src="{{imgPath}}5499.png" /></a>
        </item>
        <item>
            <a target="_blank" href="https://www.pinterest.com/ipdusa/" class="social"><img alt="" src="{{imgPath}}5501.png" /></a>
        </item>
        <item>
            <a target="_blank" href="https://www.facebook.com/ipdusa" class="social"><img alt="" src="{{imgPath}}5497.png" /></a>
        </item>
        <item>
            <a target="_blank" href="href=https://instagram.com/ipdvolvo/" class="social"><img alt="" src="{{imgPath}}5498.png" /></a>
        </item>
    </menu>
</center>
